@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
    font-family: "Open Sans", sans-serif;
}
.logo {
    width: 50px;
    height: 50px;
}
.navbar {
    z-index: 9;
    background-color: #db1f00;
    padding: 0.5rem 1rem;
}
.form-control {
    height: calc(2rem + 2px);
    border-radius: 0px;
}
.login-btn {
    padding: 0.275rem 0.75rem;
    color: #fff;
    border-radius: 0;
    background-color: #cf260a;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0px;
}
.intro-header {
    padding-top: 35%;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: linear-gradient(
            45deg,
            rgba(235, 51, 73, 0.6),
            rgba(244, 92, 67, 0.6)
        ),
        url(../img/hero.jpg) no-repeat center center;
    background-size: cover;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.intro-header form {
    position: relative;
}
.dating-selection {
    font-size: 36px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.3;
}

.wSelect {
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
}

.wSelect {
    padding: 4px 5px;
    color: #fff;
    margin-right: 10px;
    margin-left: 10px;
}
.wSelect option {
    color: black;
}
.reg-btn {
    font-size: 22px;
    font-family: "Open Sans";
    color: rgb(226, 66, 42);
    line-height: 1.2;
    border-radius: 0;
    background-color: #fff;
}
.reg-btn a {
    color: #db1f00;
}
#video-section {
    background-color: #3c2b2b;
}
.video-title {
    text-align: center;
    line-height: 1;
    padding-top: 70px;
    padding-bottom: 90px;
    margin: 0;
    font-size: 36px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
}
#player-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #000;
    z-index: 999;
}

video {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 90px;
}

#disclaimer {
    padding-top: 60px;
    padding-bottom: 70px;
    background-color: #00b155;
}

.disclaimer-title {
    font-size: 24px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    padding-bottom: 17px;
    margin: 0;
}
.disclaimer-para {
    font-size: 16px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.25;
    text-align: left;
    padding-bottom: 12px;
}

form.dating-selection select {
    font-size: 22px;
}

form.dating-selection label {
    font-size: 25px;
}

@media only screen and (min-width: 300px) and (max-width: 991.98px) {
    nav.navbar.navbar-expand-lg.static-top .container {
        justify-content: center;
        display: flex;
        align-items: center;
    }
    .navbar {
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 575.98px) {
    form.form-inline input {
        margin-bottom: 10px;
    }

    form.form-inline button {
        float: right;
        display: block;
        clear: both;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

.modal-dialog button.close {
    position: absolute;
    width: 48px;
    height: 48px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 50%;
    line-height: 19px;
    text-align: center;
    left: -26px;
    top: -14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 38px;
    opacity: 1;
    background-image: url(img/icon/cancel.svg);
    background-position: center;
    background-repeat: no-repeat;
}

button.close img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.policy-terms{
    text-align: center;
    max-width: 100%;
    padding-bottom: 10px;
}

.privacy-policy{
    text-align: right;
}
.terms-of-services{
    text-align: left;
}